<!-- Use layout.html on top -->
{% extends 'layout.html' %}
{% block content %}
<html>

   <head>
      <title></title>
   </head>

   <body>
      <!-- fix table width and border -->
      <table width = "100%" border = "0">
         
         <tr>
            <!-- set column span and background color -->
            <!-- create header -->
            <td colspan = "2" bgcolor = "#b5dcb3">
                <center><h1>About This Website</h1></center>
            </td>
         </tr>
         <!-- set position on top -->
         <tr valign = "top">
            <!-- set backgroun color and width -->
            <td bgcolor = "#aaa" width = "5">
               <!-- team members info -->
               <b>Team Mebers</b><br />
               6101012620105 Panachai Vankwan<br />
               6101012630089 Nutnicha Sriwallaphanon<br />
               6101012610011 Kistamet loraphong<br />
               6101012620148 Wasawat Nonteerawitchaya<br />
            </td>
            <!-- set background color width and height -->
            <!-- website info -->
            <td bgcolor = "#eee" width = "250" height = "200">
               The website has been designed by computer engineering student of King Mongkut's University of Technology North Bangkok.
               <br/><br/>
               This Website is created by Python Programming with Django Tools plus Test Driven Development.

               This Website is the part of Software Development Practice II subject's Project.
               <br/> <br/>
               GradeGuide is Web Application which helps you by following features<br />
               1.Calculating Your Grade just one Semester.<br/>
               2.Calculating Your Whole Grades in each Semester.<br/>
               3.Search Flow for your Subjects.<br/>
               4.Seeing Full Flow of your degree.<br/>

            </td>
         </tr>
         <tr>
            <!-- set column span and background color -->
            <td colspan = "2" bgcolor = "#b5dcb3">
               <center>
                  <!-- group name -->
                  <br/>PYTHONIUM
               </center>
            </td>
         </tr>
         
      </table>
   </body>

</html>
{% endblock %}