<html>
    <h1>Flow</h1>
    <body>
        <div class="search-container">
            <form action="/action_page.php">
                <h4 name="subject_head">subject :</h4>
              <input type="text" placeholder="Search.." name="search" size="120" id="search_placeholder">
              <button type="submit" id="submit_button">search</button>
              <input type="button" onclick="window.location.href='picFlow.html'" value="Full Flow" id="fullflow_button">
            </form>
          </div>
    </body>
</html>