{% extends 'layout.html' %}
{% block content %}
<html>
  <body>
    <style>
    hr.new5 {
      border: 2px solid purple;
      border-radius: 2px;
    }

    hr.new6 {
      border: 1px solid gray;
      border-radius: 1px;
    }
    </style>
    <h1>Flow</h1>
    <hr class="new5">
      <form action='flow' method='POST'>
        {% csrf_token %}
        <div class="container">
          <h1 align="center">Subjects Search</h1>
          <br>
          <p><input type="text" placeholder="Type the subject..." name="searchFlow" size="100" id="search_placeholder" />
          <button type="submit" class="btn btn-warning " id="submit_button" name="searchSubject">search</button>
          <input type="button" class="btn btn-danger " onclick="window.location.href='picFlow.html'" value="Full Flow" id="fullflow_button"></p>
          <h2 name="subject_head">subject : {{subjects}} </h2>
          <p2 name="result_search"><font size="5">{{Result|safe}}</font></p2>
        </div>
      </form>
    <br>
    <hr class="new6">
    <p1><font size="4" color="red">If you can't remember the subject's name , The Subjects button will help you. :)</font>
    <input type="button" class="btn btn-info btn-lg" onclick="window.location.href='subject.html'" value="Subjects" id="subject_button"></p1>
    <br>
    <br>
    <p3>Note : Elective Subjects don't connect to each other but I want to show how many elective subjects are in this flow.</p3>
    
  </body>
</html>
{% endblock %}