<!-- Use base.html on top -->
{% extends 'base.html' %} {% block content %}
<!-- Use script to draw graph -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      <!-- create var to collect data -->
        <!-- addColumn number, Term -->
        <!-- addColumn number, Your GPA -->
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Term');
      data.addColumn('number', 'Your GPA');

      <!-- add Row GPA in each term -->
      data.addRows([
        [1,  {% for listGPA in GPARES %}
              {{listGPA.GPA_1}}+0
            {% endfor %}],
        [2,  {% for listGPA in GPARES %}
              {{listGPA.GPA_2}}+0
            {% endfor %}],
        [3,  {% for listGPA in GPARES %}
              {{listGPA.GPA_3}}+0
            {% endfor %}],
        [4,  {% for listGPA in GPARES %}
              {{listGPA.GPA_4}}+0
            {% endfor %}],
        [5,  {% for listGPA in GPARES %}
              {{listGPA.GPA_5}}+0
            {% endfor %}],
        [6,  {% for listGPA in GPARES %}
              {{listGPA.GPA_6}}+0
            {% endfor %}],
        [7,  {% for listGPA in GPARES %}
              {{listGPA.GPA_7}}+0
            {% endfor %}],
        [8,  {% for listGPA in GPARES %}
              {{listGPA.GPA_8}}+0
            {% endfor %}]
      ]);
      <!-- set graph title and subtitle  -->
      <!-- set width and height -->
      var options = {
        chart: {
          title: 'GPA Graph',
          subtitle: 'You grade that you submited will be display in line chart)'
        },
        width: 1300,
        height: 500
      };
      <!-- create line var -->
      var chart = new google.charts.Line(document.getElementById('linechart_material'));
      <!-- draw line -->
      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    </script>
        <body>
        <!-- set line style -->
    <div id="linechart_material" style="width: 1300px; height: 500px"></div>
        <!-- create header -->
        <h3>Your GPAX : {{res_GPAX}}<h3>
  </body>

{% endblock %}
