{% extends 'layout.html' %}
{% block content %}

<html>
<head>
    <title>Help</title>
</head>
<body>

<h1> How can we help you :)</h1>

<b> Sign up </b>
<p> Go to sign up <a href="http://127.0.0.1:8000/signup/">Signup Link</a>
    <br>
    *You have to sign up before using our webapp
    <br>
    *Remember to read the <b>requirement</b> for your <b>"USERNAME" and "PASSWORD"</b>
 </p>

<b> Log in </b>
<p>
    Go to log in <a href="http://127.0.0.1:8000/accounts/login/">Login Link</a>
    <br>
    After signup you can login in the above link.

</p>

<b> Homepage </b>
<p> Go to home page <a href="http://127.0.0.1:8000/">Homepage Link</a>
    <br>
    Homepage shows you how many account has been registered.
</p>




</body>
</html>


{% endblock %}