{% extends 'layout.html' %}
{% block content %}

<html>
<head>
    <title>Help</title>
</head>
<body>

<h1> How can we help you :)</h1>

<b> Sign up </b>
<p> Go to sign up <a href="http://127.0.0.1:8000/signup/">Signup Link</a>
    <br>
    *We recommend to sign up before using our webapp
    <br>
    *Remember to read the <b>requirement</b> for your <b>"USERNAME" and "PASSWORD"</b>
 </p>

<b> Log in </b>
<p>
    Go to log in <a href="http://127.0.0.1:8000/accounts/login/">Login Link</a>
    <br>
    After signup you can login in the above link

</p>

<b> Homepage </b>
<p> Go to home page <a href="http://127.0.0.1:8000/">Homepage Link</a>
    <br>
    Homepage shows you how many account has been registered
</p>

<b> Grade Calculator </b>
<> Go to Grade Calculator<a href="http://127.0.0.1:8000/home">Gradecalculator Link</a>
    <br>
    Calculate your grade in each terms<br>
    1.Select your <b>Term Before Inputing Grade</b><br>
    2.1 Input grade of your subjects <b>as much as you have</b> in that term<br>
    2.2 Enter your subject name<br>
    2.3 Select Grade Unit from 1-4<br>
    2.4 Select your Grade of the subject<br>
    3.Click <b>Save button</b><br>
    4.Click <b>Submit button</b><br>
</p>

<b> Your GPA and Student Status</b>
<p>
    Your GPA and Student Status will be shown in the same page as Grade Calculator<br>
    <b>*It will be shown at the bottom of Grade Calculator Page</b>
</p>

<b> See your result each term</b>
<p> You can see your each term result by click <b>RESULT</b> on the top page and select your term<br>
    or click following link <br>
    <a href="http://127.0.0.1:8000/r'firstTerm'">1. first term</a><br>
    <a href="http://127.0.0.1:8000/r'secondTerm'">2. second term</a><br>
    <a href="http://127.0.0.1:8000/r'thirdTerm'">3. third term</a><br>
    <a href="http://127.0.0.1:8000/r'fourthTerm'">4. fourth term</a><br>
    <a href="http://127.0.0.1:8000/r'fifthTerm'">5. fifth term</a><br>
    <a href="http://127.0.0.1:8000/r'sixthTerm'">6. sixth term</a><br>
    <a href="http://127.0.0.1:8000/r'seventhTerm'">7. seventh term</a><br>
    <a href="http://127.0.0.1:8000/r'eightTerm'">8. eighth term</a><br>
</p>

<b> See your GPA graph</b>
<p>
    You can see your GPA graph by click <b>GRAPH</b> on the top page and select your term<br>
    or click following link <br>
    <a href="http://127.0.0.1:8000/r'graph'">Graph Page</a>
</p>




</body>
</html>


{% endblock %}