<html>

    <head>

        <title>Grade-Guide</title>

    </head>
    <hr>

    <body>

        <h1>Grade-Guide</h1>
        <p1><a href="url">Grade Calulator</a>
            <a href="url">Flow</a></p1>
        <hr>
        <br>
        <form method="POST"><term>
        Select your term : <select>
        <option value="1"> term 1</option>
        <option value="2"> term 2</option>
        <option value="3"> term 3</option>
        <option value="4"> term 4</option>
        <option value="5"> term 5</option>
        <option value="6"> term 6</option>
        <option value="7"> term 7</option>
        <option value="8"> term 8</option>
        </select></term>
        <button type="submit" value="term_select">Select</button>
        </form><hr>

        <form method="POST" >
        <subject1>
        <input id="subject1" placeholder="Enter subject" />
        <select name="subject1Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject1Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject1>
        <br>

        <subject2>
        <input id="subject2" placeholder="Enter subject" />
        <select name="subject2Unit">
            <option value="1">Unit: A</option>
            <option value="2">Unit: B</option>
            <option value="3">Unit: C</option>
            <option value="4">Unit: D</option>
        </select>
        <select name="subject2Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject2>
        <br>

        <subject3>
        <input id="subject3" placeholder="Enter subject" />
        <select name="subject3Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject3Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject3>
        <br>

        <subject4>
        <input id="subject4" placeholder="Enter subject" />
       <select name="subject4Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject4Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject4>
        <br>

        <subject5>
        <input id="subject5" placeholder="Enter subject" />
        <select name="subject5Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject5Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject5>
        <br>

        <subject6>
        <input id="subject6" placeholder="Enter subject" />
       <select name="subject6Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject6Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject6>
        <br>

        <subject7>
        <input id="subject7" placeholder="Enter subject" />
       <select name="subject7Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject7Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject7>
        <br>

        <subject8>
        <input id="subject8" placeholder="Enter subject" />
        <select name="subject8Unit">
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject8Grade">
            <option value="1">Grade: A</option>
            <option value="2">Grade: B</option>
            <option value="3">Grade: C</option>
            <option value="4">Grade: D</option>
        </select>
        </subject8>
        <br>


         <button type="submit">submit</button>
        </form><hr>
        <showgrade>
        Your GPA and GPAX will display here.
        </showgrade>
        <hr>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Term');
      data.addColumn('number', 'Your GPA');


      data.addRows([
        [1,  0],
        [2,  0],
        [3,  0],
        [4,  0],
        [5,  0],
        [6,  0],
        [7,  0],
        [8,  0]
      ]);

      var options = {
        chart: {
          title: 'GPA Graph',
          subtitle: 'You grade that you submited will be display in line chart)'
        },
        width: 900,
        height: 500
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    </script>
        <body>
    <div id="linechart_material" style="width: 900px; height: 1000px"></div>
  </body>

        <table id="id_list_table">


        </table>

    </body>

</html>