<html>

    <head>

        <title>Grade-Guide</title>

    </head>
    <hr>

    <body>

        <h1>Grade-Guide</h1>
        <p1><a href="url">Grade Calulator</a>
            <a href="url">Flow</a></p1>
        <hr>
        <br>
        <form method="POST"><term>
        Select your term : <select>
        <option value="1"> term 1</option>
        <option value="2"> term 2</option>
        <option value="3"> term 3</option>
        <option value="4"> term 4</option>
        <option value="5"> term 5</option>
        <option value="6"> term 6</option>
        <option value="7"> term 7</option>
        <option value="8"> term 8</option>
        </select></term>
        <button type="submit" value="term_select">Select</button>
        </form><hr>

        <form method="POST" >
        <subject1>
        <input id="subject1" placeholder="Enter subject" />
        <input id="unit1" placeholder="Unit" />
        <input id="grade1" placeholder="Grade (A,B,C only)" />
        </subject1>
        <br>

        <subject2>
        <input id="subject2" placeholder="Enter subject" />
        <input id="unit2" placeholder="Unit" />
        <input id="grade2" placeholder="Grade (A,B,C only)" />
        </subject2>
        <br>

        <subject3>
        <input id="subject3" placeholder="Enter subject" />
        <input id="unit3" placeholder="Unit" />
        <input id="grade3" placeholder="Grade (A,B,C only)" />
        </subject3>
        <br>

        <subject4>
        <input id="subject4" placeholder="Enter subject" />
        <input id="unit4" placeholder="Unit" />
        <input id="grade4" placeholder="Grade (A,B,C only)" />
        </subject4>
        <br>

        <subject5>
        <input id="subject5" placeholder="Enter subject" />
        <input id="unit5" placeholder="Unit" />
        <input id="grade5" placeholder="Grade (A,B,C only)" />
        </subject5>
        <br>

        <subject6>
        <input id="subject6" placeholder="Enter subject" />
        <input id="unit6" placeholder="Unit" />
        <input id="grade6" placeholder="Grade (A,B,C only)" />
        </subject6>
        <br>

        <subject7>
        <input id="subject7" placeholder="Enter subject" />
        <input id="unit7" placeholder="Unit" />
        <input id="grade7" placeholder="Grade (A,B,C only)" />
        </subject7>
        <br>

        <subject8>
        <input id="subject8" placeholder="Enter subject" />
        <input id="unit8" placeholder="Unit" />
        <input id="grade8" placeholder="Grade (A,B,C only)" />
        </subject8>
        <br>


         <button type="submit">submit</button>
        </form><hr>
        Your GPA and GPAX will display here.
        <hr>

        <table id="id_list_table">


        </table>

    </body>

</html>