
{% extends 'layout.html' %}
{% block content %}

<html>
    <hr>
    <body>
        <p>{% if user.is_authenticated %}
        <h4>ID : {{ user.username }} {{ test }}</h4>
            {% else %}visitor{% endif %}</p>
        <hr>
        <br>
        <a href="{% url 'home' %}">First Term</a> /
        <a href="{% url 'secondTerm' %}">Second Term</a> /
        <a href="{% url 'thirdTerm' %}">Third Term</a> /
        <a href="{% url 'fourthTerm' %}">Fourth Term</a> /
        <a href="{% url 'fifthTerm' %}">Fifth Term</a> /
        <a href="{% url 'sixthTerm' %}">Sixth Term</a> /
        <a href="{% url 'seventhTerm' %}">Seventh Term</a> /
        <a href="{% url 'eightTerm' %}">Eight Term</a> /
        You selected : Term 1

        <form action="calGrade" method="POST" >
            {% csrf_token %}

        <input id="subject1" name="subject1name" placeholder="Enter subject"/>
        <select name="subject1Unit" id="subject1Unitid">
            <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject1Grade" id="subject1Gradeid" {{res}}>
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5 (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject1>
        <br>
        <subject2>
        <input id="subject2"  placeholder="Enter subject" />
        <select name="subject2Unit" id="subject2Unitid">
            <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject2Grade" id="subject2Gradeid" >
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject2>
        <br>

        <subject3>
        <input id="subject3" placeholder="Enter subject" />
        <select name="subject3Unit" id="subject3Unitid" >
            <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject3Grade" id="subject3Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject3>
        <br>

        <subject4>
        <input id="subject4" placeholder="Enter subject" />
       <select name="subject4Unit" id="subject4Unitid">
           <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject4Grade" id="subject4Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject4>
        <br>

        <subject5>
        <input id="subject5" placeholder="Enter subject" />
        <select name="subject5Unit" id="subject5Unitid">
            <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject5Grade" id="subject5Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject5>
        <br>

        <subject6>
        <input id="subject6" placeholder="Enter subject" />
       <select name="subject6Unit" id="subject6Unitid">
           <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject6Grade" id="subject6Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject6>
        <br>

        <subject7>
        <input id="subject7" placeholder="Enter subject" />
       <select name="subject7Unit" id="subject7Unitid">
           <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject7Grade" id="subject7Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject7>
        <br>

        <subject8>
        <input id="subject8" placeholder="Enter subject" />
        <select name="subject8Unit" id="subject8Unitid">
            <option value="0"></option>
            <option value="1">Unit: 1</option>
            <option value="2">Unit: 2</option>
            <option value="3">Unit: 3</option>
            <option value="4">Unit: 4</option>
        </select>
        <select name="subject8Grade" id="subject8Gradeid">
            <option value="0"></option>
            <option value="4">&nbsp; Grade: 4&nbsp; (A)</option>
            <option value="3.5">Grade: 3.5&nbsp; (B+)</option>
            <option value="3">&nbsp;Grade: 3&nbsp; (B)</option>
            <option value="2.5">Grade: 2.5&nbsp; (C+)</option>
            <option value="2">&nbsp;Grade: 2&nbsp; (C)</option>
            <option value="1.5">Grade: 1.5&nbsp; (D+)</option>
            <option value="1">&nbsp; Grade: 1&nbsp; (D)</option>
            <option value="0">&nbsp; Grade: 0&nbsp; (F)</option>
        </select>
        </subject8>
        <br>
            <button type="button" class="btn btn-primary btn-lg" onclick="Submitcal()">Submit</button>
            <input type="submit" class="btn btn-secondary btn-lg" value="Save">
        </form><hr>
        <h1>
            Your GPA  : <p" id="demo""></p>

            </h1>
        <h1>Student Status : <p" id="student_state""></p></h1>
        <script>
        function Submitcal() {
            var sumunit = parseInt(document.getElementById("subject1Unitid").value)+parseInt(document.getElementById("subject2Unitid").value)+parseInt(document.getElementById("subject3Unitid").value)+parseInt(document.getElementById("subject4Unitid").value)+parseInt(document.getElementById("subject5Unitid").value)+parseInt(document.getElementById("subject6Unitid").value)+parseInt(document.getElementById("subject7Unitid").value)+parseInt(document.getElementById("subject8Unitid").value);

            var sub1 = parseFloat(document.getElementById("subject1Unitid").value)*parseFloat(document.getElementById("subject1Gradeid").value);
            var sub2 = parseFloat(document.getElementById("subject2Unitid").value)*parseFloat(document.getElementById("subject2Gradeid").value);
            var sub3 = parseFloat(document.getElementById("subject3Unitid").value)*parseFloat(document.getElementById("subject3Gradeid").value);
            var sub4 = parseFloat(document.getElementById("subject4Unitid").value)*parseFloat(document.getElementById("subject4Gradeid").value);
            var sub5 = parseFloat(document.getElementById("subject5Unitid").value)*parseFloat(document.getElementById("subject5Gradeid").value);
            var sub6 = parseFloat(document.getElementById("subject6Unitid").value)*parseFloat(document.getElementById("subject6Gradeid").value);
            var sub7 = parseFloat(document.getElementById("subject6Unitid").value)*parseFloat(document.getElementById("subject6Gradeid").value);
            var sub8 = parseFloat(document.getElementById("subject6Unitid").value)*parseFloat(document.getElementById("subject6Gradeid").value);

            var sumsub = sub1+sub2+sub3+sub4+sub4+sub5+sub6+sub7+sub8;

            var resultGrade = sumsub/sumunit;
            var n = resultGrade.toFixed(2);
          document.getElementById("demo").innerHTML = n;
          if (resultGrade >= 2.00)
          {var state = "Normal State";}
          else if (resultGrade < 1.5)
          {var state = "Retired";}
          else if (resultGrade < 2)
          {var state = "Probation";}
          document.getElementById("student_state").innerHTML = state;
        }
        </script>
            {% for itemlist in list %}
        <table class="sp_gpa_tb">
            <tbody>
            <tr>
            <th>วิชา</th>
            <th>หน่วยกิต</th>
            <th>เกรด</th> </tr>
        <tr><td class="xs">{{itemlist.subject}}</td>
            <td class="xu">{{itemlist.unit}}</td>
            <td class="xg">{{itemlist.Grade}}</td>
        </tr>
        </table>
            {%endfor %}
        <hr><script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Term');
      data.addColumn('number', 'Your GPA');


      data.addRows([
        [0,  0],
        [1,  0],
        [2,  0],
        [3,  0],
        [4,  0],
        [5,  0],
        [6,  0],
        [7,  0],
        [8,  0]
      ]);

      var options = {
        chart: {
          title: 'GPA Graph',
          subtitle: 'You grade that you submited will be display in line chart)'
        },
        width: 900,
        height: 300
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    </script>
        <body>
    <div id="linechart_material" style="width: 900px; height: 300px"></div>
  </body>

        <table id="id_list_table">


        </table>

    </body>

</html>

{% endblock %}