{% extends 'base.html' %} {% block content %}

<hr>
<h2 align="center">TERM 7</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Subject</th>
      <th scope="col">Unit</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
    {% for itemlist in dataterm7 %}
  <tbody>
    <tr>
      <th scope="row">{{itemlist.id}}</th>
      <td>{{itemlist.subject}}</td>
      <td>{{itemlist.unit}}</td>
      <td>{{itemlist.Grade}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<h3>GPA :
{% for listGPA in GPARES %}
  {{listGPA.GPA_7}}
{% endfor %}</h3>


{% endblock %}
