{% extends 'layout.html' %}
{% block content %}
<html>
  <body>
    <h1 align="center">List of Subjects</h1>
    <p></p>
    <h2 align="center">-------------------- Semister 1 ----------------------</h2>
        <p align="center"><font size="5" >{{semister1|safe}}</font></p>
    <h2 align="center">-------------------- Semister 2 ----------------------</h2>
        <p align="center"><font size="5" >{{semister2|safe}}</font></p>
    <h2 align="center">-------------------- Semister 3 ----------------------</h2>
        <p align="center"><font size="5" >{{semister3|safe}}</font></p>
    <h2 align="center">-------------------- Semister 4 ----------------------</h2>
        <p align="center"><font size="5" >{{semister4|safe}}</font></p>
    <h2 align="center">-------------------- Semister 5 ----------------------</h2>
        <p align="center"><font size="5" >{{semister5|safe}}</font></p>
    <h2 align="center">-------------------- Semister 6 ----------------------</h2>
        <p align="center"><font size="5" >{{semister6|safe}}</font></p>
    <h2 align="center">-------------------- Semister 7 ----------------------</h2>
        <p align="center"><font size="5" >{{semister7|safe}}</font></p>
    <h2 align="center">-------------------- Semister 8 ----------------------</h2>
        <p align="center"><font size="5" >{{semister8|safe}}</font></p>
  </body>
</html>
{% endblock %}